
#product{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    gap: 20px;
}
.successmsg{
    border: 2px solid grey;
    background-color: green;
}
.product-details{
    outline: 1px solid;
}
.divforall{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    width:100%;
}
.ammountdiv{
    display: flex;
    justify-content:space-around ;
    margin-right: 15px;
}
.buttondelete{
    color: red;
    background-color: black;
    font-weight: 800;
    font-size: 20px;
}
